table,
th,
td,
tr {
  border: 3px solid black;
}

body {
  background-color: #ffffffc2;
  padding: 10px;
}






.btn-default btn-primary{

  width: 20px;
}
#botonesG{

  width: 10%;
  margin-top: 1%;
  margin-right: 1%;
}

#h1InicioIndustria {
  margin-top: 10%;
  margin-left: 10%;
  font: oblique bold 120% cursive;
  font-size: 30px;
  font-style: oblique;
}
#imgHeader {
  width: 15%;
  height: 20%;
  margin-left: 35%;
  padding: 2%;
}
#imgHeaderInicio {
  width: 30%;
  height: 280px;
  margin-left: 35%;
  padding: 2%;
}

#desactivarGB {


  visibility: hidden;
}

#configuracion {
  margin-left: 40%;


}
#contSelecColores{
  margin-left: 40%;

width: 15%;
}


#graficoBarras {

  margin-left: 33%;
}




div.col-4 {

  margin-top: 300px;
  margin-left: 600px;


}

.myTitle {
  color: rgb(233, 32, 32);
  font-size: 200%;
  text-align: center;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 10px 0;
}

.rule {
  height: 3px;
  width: 100%;
  background: rgb(218, 23, 17);
  margin-top: 0;
}

#botones {

  margin-bottom: 10px;
  margin-top: 700px;

}




#imagen {
  margin-top: 20px;
  margin-left: 500px;
  border-radius: 30px;
}

#active {
  background-color: #276972;

}

#menu {
  width: 100%;
  background-color: #276972;
  display: block;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 2%;



}

#menu>ul {
  list-style: none;
  margin: 0px auto;
  width: 60%;
}

#menu>ul>li {
  line-height: 25px;
  float: left;
  border-right: 1px solid rgb(192, 183, 183);
  transition: all 300ms;


}

#menu>ul>li>a {
  color: rgb(192, 183, 183);
  display: block;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 6px;
  padding-bottom: 6px;
  text-decoration: none;
}

#menu>ul>li>a:first-child {
  border-left: 1px solid rgb(192, 183, 183);
}

#menu>ul>li:hover {
  background-color:#276972;
  box-shadow: 0px 0px 4px rgb(136, 142, 226) inset;


}
.navbar-inverse {
  background-color:#276972;
  border-color: #080808;
}

/*Menu desplegable*/
#menu>ul>li>ul {
  display: none;
  position: absolute;
  width: 7.8%;
  box-shadow: 0px 2px 2px gray;
  z-index: 1;
  margin-top: 0.1px;

  padding: 0;



}



#menu>ul>li:hover>ul {

  display: block;

}

#menu>ul>li:hover>ul>li {
  background-color: #276972;
  padding: 8px;
  border-bottom: 1px solid #2c3536;
  line-height: 25px;
  font-size: 14px;
  list-style-type: none;
  transition: all 300ms;
  


}

#menu>ul>li:hover>ul>li>a {
  color:  #276972;
  margin-left: 15%;
  border: none;
  text-decoration: none;
  


}
#menu>ul>li:hover>ul>li:hover {
  background-color: rgba(204, 204, 204, 0.8);


}




.clearfix {
  float: none;
  clear: both;
}



#imgInicio {
  cursor: pointer;
  height: 10%;
  float: left;
  margin-left: 5%;
  margin-top: 5%;
  border-radius: 12px;

}
#imgInicioPlantas {
  cursor: pointer;
  height: 400px;
  float: left;
  margin-left: 8%;
  margin-top: 6%;
  border-radius: 12px;
}
#imgInicioMedicina {
  cursor: pointer;
  width: 10%;
  height: 400px;
  float: left;
  margin-left: 10%;
  margin-top: 6%;
  border-radius: 12px;
}
#imgInicioSectorPublico {
  cursor: pointer;
  width: 10%;
  height: 400px;
  float: left;
  margin-left: 10%;
  margin-top: 6%;
  border-radius: 12px;
}
#imgInicioIndustria {
  cursor: pointer;
  width: 10%;
  height: 400px;
  float: left;
  margin-left: 8%;
  margin-top: 6%;
  border-radius: 12px;
}

#h1Inicio {

  margin-left: 30%;
  
  font: oblique bold 120% cursive;
  font-size: 30px;
  font-style: oblique;
}

#h5Inicio {
  margin-left: 42%;
  font: oblique bold 120% cursive;

}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 100px;
  margin-left: 300px;
}


/*grficos barras*/
#loader {

  margin-left: 47.5%;
  margin-top: 6%;

}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgb(159, 159, 231);
  border-bottom: 16px solid rgb(159, 159, 231);
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
/*insercion manual*/
#insercionManual{
    width: 10%;
    margin-left: 40%;
    margin-top: 1%;
}
/*informacion general*/
#TodasTabla {
  width: 30%;
  height: 50%;
  margin-top: 10%;
  margin-right: 20%;
  float: right;
  border: 10px ;
  display: block;
}
#inf {
  border:  3px solid rgb(5, 5, 5) ;
  width: 15%;
  margin-left: 30%;
  padding: 20px;
  margin-top: 5%;
  display: block;
float: left;

}
/*tabla todas medicione*/
#TodasTablainformacion{
  margin-left: 25%;
    margin-top: 2%;

}
td,th{
  text-align: center;
}

#informacion2 {
  margin-left: 50%;
  width: 30%;

}
/*fecha del lateral*/
#fecha {
  margin-left: 94%;
  
  margin-bottom: 1%;
 
  font-weight: bold;

}
#wrapFechas {


  margin-left: 0%;
  width: 100%;

}
/*nombre usuario*/
#divNombre{

     margin-left: 94%;
    
    font-weight: bold;
    font-size: large;

}
/*graficos*/
#tamanioCanvas{
  display: block;
    height: 447px;
    width: 447px;
    padding: 10px;
}

/*Usuarios*/
#tablaUsuarios {

  text-align-last: center;


}


/* Responsive */

@media (max-width: 1207px) {

  #fecha{
    width: 20%;

  }
  #h1Inicio{

    width: 20%;
  }
  #h5Inicio{
    width: 20%;

  }

  
}